@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.leaflet-container {
  width: 100%;
  height: 100%;
  background: #0a0a0a !important;
}

/* 隐藏 Leaflet 默认标志 */
.leaflet-control-attribution {
  display: none !important;
}

/* 自定义气泡框样式 */
.custom-vessel-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.custom-vessel-tooltip::before {
  display: none !important;
}
